@media screen and (max-width: 640px) {
 
  img{
  max-width: 100%;
  height: auto;
  width /***/:auto;
  }
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  background-color: white;
}

li {
  list-style: none;
}


.header{
  background-color:whitesmoke;
  color:black;
  height: 100px;
  position: sticky;
	top: 0; /* ブラウザ上部との間隔を空けたい場合に指定 */
  z-index: 10;
  border-bottom:1px solid rgb(172, 172, 172);
  border-top: 1px solid rgb(172, 172, 172);
  padding-top: 0px;
}
.header-logo{
  float:left;
  font-size:36px;
  padding:20px 40px;
  font-family: serif;
  text-align: center;
  line-height: 1;
  text-decoration: none;
}
a:link{
  color: inherit;
}
a:visited{
  color: inherit;
}
a:hover{
  color:green;
}
a{
  text-decoration:underline;
}
.header-list li{
  float:top;
  

  
}

.header-purchase{
  padding:;
  float: right;
  padding-right: 0px;
  font-weight: bold;

 margin-top: 20px;
 margin-right: 50px;
 border: 2px solid white; /*線の太さ・色*/
 padding: 1em;
 border-radius: 20px; /*角の丸み*/
 color: black;
 border-color: black;
 background-color: white;
 
}

.header-logo a{
  text-decoration: none;
}

.header-purchase a{
  text-decoration: none;
}

.footer{
  background-color:whitesmoke;
  color:black;
  height: 100px;
  position: sticky;
	top: 0; /* ブラウザ上部との間隔を空けたい場合に指定 */
  z-index: 10;
  border-bottom:1px solid rgb(172, 172, 172);
  border-top: 1px solid rgb(172, 172, 172);
  padding-top: 0px;
  margin-top: 100px;
}

.contents{
  padding-top: 100px;
  text-align: center;
  margin: 0 auto;
  
}

p{
  width: 90%;
  text-align: left;
  margin: 1em auto;
}

h2{
  padding: 1em;
  font-family: serif;
}

.picture{
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}

}